# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Ansible
*.retry
.ansible/

# Molecule
.molecule/
.cache/

# Logs
logs/
*.log

# IDE
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
.idea/
*.swp
*.swo
*.bak
*~

# OS
.DS_Store
Thumbs.db
