[defaults]
# Specify the inventory file
inventory = playbooks/inventory/hosts.yml

# Define the roles path
roles_path = playbooks/roles

# Define the directory for host and group variables
host_vars_inventory = playbooks/inventory/host_vars
group_vars_inventory = playbooks/inventory/group_vars

# Set the logging verbosity level
verbosity = 2

# Set the log file path (root logs directory)
log_path = .logs/ansible.log

# Define the default become method
become_method = sudo

# Use a local password file for Vault to avoid typing the password in on each invocation
vault_password_file = ~/.ansible.pass

# Quiet deprecation warnings
deprecation_warnings = False

# Set a custom collections path (singular form is correct for ansible.cfg)
collections_path = ~/Repos/home-cloud/collections:~/.ansible/collections:/usr/share/ansible/collections

[persistent_connection]
command_timeout = 60
connect_timeout = 60
