apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://{{ deploy_monitoring_prometheus_listen_address }}:{{ deploy_monitoring_prometheus_http_port }}
    isDefault: true
    editable: false

  - name: Loki
    type: loki
    access: proxy
    url: http://{{ deploy_monitoring_loki_listen_address }}:{{ deploy_monitoring_loki_http_port }}
    editable: false
