auth_enabled: false

server:
  http_listen_address: {{ deploy_monitoring_loki_listen_address }}
  http_listen_port: {{ deploy_monitoring_loki_http_port }}

common:
  path_prefix: {{ deploy_monitoring_loki_data_dir }}
  storage:
    filesystem:
      chunks_directory: {{ deploy_monitoring_loki_data_dir }}/chunks
      rules_directory: {{ deploy_monitoring_loki_data_dir }}/rules
  replication_factor: 1
  ring:
    instance_addr: 127.0.0.1
    kvstore:
      store: inmemory

schema_config:
  configs:
    - from: "2024-01-01"
      store: tsdb
      object_store: filesystem
      schema: v13
      index:
        prefix: index_
        period: 24h

limits_config:
  retention_period: {{ deploy_monitoring_loki_retention_period }}

compactor:
  working_directory: {{ deploy_monitoring_loki_data_dir }}/compactor
  retention_enabled: true
  delete_request_store: filesystem
