[Unit]
Description=Prometheus Node Exporter
After=network-online.target
Wants=network-online.target

[Service]
User=node_exporter
Group=node_exporter
Type=simple
ExecStart=/usr/local/bin/node_exporter \
  --web.listen-address={{ node_exporter_listen_address }}:{{ node_exporter_port }}
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
