global:
  scrape_interval: {{ prometheus_scrape_interval }}
  evaluation_interval: {{ prometheus_scrape_interval }}

scrape_configs:
  - job_name: node
    static_configs:
      - targets:
{% for target in prometheus_node_targets %}
          - "{{ target }}"
{% endfor %}

  - job_name: prometheus
    static_configs:
      - targets:
          - "{{ prometheus_listen_address }}:{{ prometheus_http_port }}"
