[Unit]
Description=Prometheus
After=network-online.target
Wants=network-online.target

[Service]
User=prometheus
Group=prometheus
Type=simple
ExecStart=/usr/local/bin/prometheus \
  --config.file=/etc/prometheus/prometheus.yml \
  --storage.tsdb.path={{ deploy_monitoring_prometheus_data_dir }} \
  --storage.tsdb.retention.time={{ deploy_monitoring_prometheus_retention_period }} \
  --web.listen-address={{ deploy_monitoring_prometheus_listen_address }}:{{ deploy_monitoring_prometheus_http_port }}
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
